[Unit]
Description=Systemd VNC server startup script
After=syslog.target network.target

[Service]
Type=forking
User=pi
ExecStartPre=-/usr/bin/vncserver -kill :%i &> /dev/null
ExecStart=/usr/bin/vncserver -depth 24 -geometry 1024x768 :%i
PIDFile=/home/pi/.vnc/%H:%i.pid
ExecStop=/usr/bin/vncserver -kill :%i

[Install]
WantedBy=multi-user.target
